/* ************************************************************************** */
/* Resets ******************************************************************* */
/* ************************************************************************** */

* {
  box-sizing: border-box;
  margin: 0 auto;
}

/* ************************************************************************** */
/* Page-Level Typography ******************************************************************* */
/* ************************************************************************** */

a {
  font-family: 'Monda', sans-serif;
  font-size: 18px;
}
.brand-logo{
  font-family: 'Allerta Stencil', cursive;
  font-size: 30px;
}
html, body{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
